/* Cores usadas */

:root {
   --cor-prima: #6E8C03;
   --cor-secun: #5A7302;
   --cor-terci: #2C4001;
   --cor-cinCla: #8C8C8C;
   --cor-cinza: #404040;
   --cor-cinEsc: #0D0D0D;
   --cor-azulCla: #9BB9BF;
   --cor-azul: #0367A6;
   --cor-azulEsc: #023E73;
}

::-webkit-scrollbar{
  display: none;
}

/* Formatação */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, sans-serif;
}

/* Design */

body{
  padding: 1vh 1vw;
  background-color: var(--cor-azulEsc);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.display{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3vh;
  max-width: 93vh;
  width: 62vw;
  height: 61.5vw;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  max-width: 93vh;
  width: 62vw;
  padding: 0vw 5vh;
  background-color: var(--cor-azul);
  color: var(--cor-azulCla);
}

main{
  background-color: var(--cor-prima);
  border-end-end-radius: 3vh;
  border-end-start-radius: 3vh;
  top: 6vh;
  position: absolute;
  max-height: 93vh;
  max-width: 93vh;
  height: 62vw;
  width: 62vw;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#user{
  background-image: url("");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.player{
  display: none;
  transform: translate(13%, 10%) rotate(0deg);
  height: 80%;
  width: 80%;
  z-index: 1;
  grid-row: 4;
  grid-column: 2;
}

.zombie{
  transform: translate(12%, 10%) rotate(0deg);
  grid-row: 3;
  grid-column: 5;
  height: 80%;
  width: 80%;
  z-index: 1;
}

.item1{
  transform: translate(18%, 13%);
  grid-row: 1;
  grid-column: 5;
  height: 75%;
  width: 75%;
  z-index: 1;
}

.item2{
  transform: translate(18%, 13%);
  grid-row: 7;
  grid-column: 5;
  height: 75%;
  width: 75%;
  z-index: 1;
}

main > div:nth-child(2n){
  background-color: var(--cor-secun);
  height: 100%;
  width: 100%;
}

/* Opções do Jogador */

#escolhas{
  margin-right: 1vw;
  position: absolute;
  max-height: 98vh;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 65vw;
  max-width: 50vh;
  width: 33vw;
  background-color: var(--cor-cinCla);
  padding: 1vh;
  border-radius: 3vh;
}

#userChoose{
  background-color: #023E73;
  border-radius: 2vh;
  background-image: url("");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

input{
  display: none;
}

nav{
  right: 0px;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
}

nav ul{
  list-style: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 2fr);
  height: 100%;
}

nav ul li{
  width: 100%;
  height: 24%;
  margin: 1%;
  background-color: #0367A6;
  border-radius: 100vh;
}

nav ul li:hover{
  background-color: #0145A4;
}

label{
  font-size: 4vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsividade */

@media(max-width: 930px){

  .display{
    border-radius: 3vh;
    max-width: 93vh;
    width: 60vh;
  }

  header{
    width: 100%;
  }

  main{
    top: 6vh;
    position: absolute;
    max-height: 93vh;
    max-width: 93vh;
    height: 60vh;
    width: 60vh;
  }

  #escolhas{
    height: 33vh;
    max-width: 570px;
    width: 100vw;
    bottom: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #userChoose{
    grid-column: 1;
    grid-row: 1;
  }

  nav{
    grid-column: 2;
    grid-row: 1;
  }
}



@media(max-width: 582px){
  .display{
    max-height: 60vh;
    height: 108vw;
    width: 98vw;
  }
  main{
    height: 98vw;
    width: 98vw;
  }
  #escolhas{
    bottom: 0px;
    width: 98vw;
  }
}

@media(max-width: 370px){
  .display{
    max-height: 60vh;
    height: 108vw;
    width: 98vw;
  }
  main{
    height: 98vw;
    width: 98vw;
  }
  #escolhas{
    height: 50vh;
    width: 98vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #userChoose{
    grid-column: 1;
    grid-row: 1;
  }

  nav{
    grid-column: 1;
    grid-row: 2;
  }
}
