/* Cores usadas */

:root {
   --cor-prima: #6E8C03;
   --cor-secun: #5A7302;
   --cor-terci: #2C4001;
   --cor-cinCla: #8C8C8C;
   --cor-cinza: #404040;
   --cor-cinEsc: #0D0D0D;
   --cor-azulCla: #9BB9BF;
   --cor-azul: #0367A6;
   --cor-azulEsc: #023E73;
}

::-webkit-scrollbar{
  display: none;
}

/* Formatação */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: Arial, sans-serif;
}

/* Design */

body{
  padding: 1vh 1vw;
  background-color: var(--cor-azulEsc);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.display{
  background-color: var(--cor-prima);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 3vh;
  width: 84vh;
  height: 89vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 0vw 5vh;
  background-color: var(--cor-azul);
  color: var(--cor-azulCla);
}

main{
  top: 6vh;
  position: absolute;
  height: 84vh;
  width: 84vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#user{
  background-image: url("");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.player{
  display: none;
  transform: translate(13%, 10%) rotate(0deg);
  height: 80%;
  width: 80%;
  z-index: 1;
  grid-row: 4;
  grid-column: 2;
}

.zombie{
  transform: translate(12%, 10%) rotate(0deg);
  grid-row: 3;
  grid-column: 5;
  height: 80%;
  width: 80%;
  z-index: 1;
}

.item1{
  transform: translate(18%, 13%);
  grid-row: 1;
  grid-column: 5;
  height: 75%;
  width: 75%;
}

.item2{
  transform: translate(18%, 13%);
  grid-row: 7;
  grid-column: 5;
  height: 75%;
  width: 75%;
}

main > div:nth-child(2n){
  background-color: var(--cor-secun);
  height: 100%;
  width: 100%;
}

/* Opções do Jogador */

#escolhas{
  margin-right: 1vw;
  position: absolute;
  /* bottom: 0px; */
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--cor-cinCla);
  padding: 1vh;
  border-radius: 3vh;
}

#userChoose{
  background-color: #023E73;
  border-radius: 2vh;
  background-image: url("");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30vh;
  width: 30vh;
  z-index: 10;
}

input{
  display: none;
}

nav{
  right: 0px;
}

nav ul{
  list-style: none;
}

nav ul li{
  margin: 1vh;
  height: 6.5vh;
  width: 22vh;
  background-color: #0367A6;
  border-radius: 100vh;
}

nav ul li:hover{
  background-color: #0145A4;
}

label{
  font-size: 4vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsividade */

@media(max-width: 1350px){
  #escolhas{
    flex-direction: column;
  }
}

@media(max-width: 1120px){
  .display{
    height: 61vh;
    width: 56vh;
  }
  main{
    height: 56vh;
    width: 56vh;
  }
  #escolhas{
    bottom: 0px;
    flex-direction: row;
  }
}
